[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"

[scripts]
django = "python backend/manage.py runserver 0.0.0.0:80"
