<div class="task {% if task.feature %}ms-3{% else %}ms-1{% endif %} text-bg-primary d-flex justify-content-between">
  {{ task.name }}
  <div>
    {% comment %} <span type="button" class="btn btn-sm btn-secondary">👁️</span> {% endcomment %}
    <span type="button"
          class="btn btn-secondary btn-sm"
          hx-get="{% url "priorities:task_update_delete" task.id %}"
          hx-target="closest .task"
          hx-swap="outerHTML">✏️</span>
    <span type="button"
          class="btn btn-warning btn-sm"
          hx-delete="{% url "priorities:task_update_delete" task.id %}"
          hx-target="closest .task">❌</span>
  </div>
</div>
